/*  Google Fonts */  /* Atalho para Comentar Shift + ALT + A  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');



/* Variaveis das Cores */
/* TEMA DARK */
:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;  /*cor principal Textos*/
    --primary-bg-color: #121117;  /*cor principal Fundo*/ 
    /* bg = background == cor do Fundo */
    --secondary-bg-color: #28292E; /*cor secundária do fundo*/
    --primary-border-color: #28292E;
    --secondary-border-color: #bbbdc2;
    --title-color: #F0F0F0;
    --link-color: #8f8f8f;
    --link-hover: #f0f0f0;
    --icon-color: #c7c8c9;

}

/* TEMA LIGHT */
:root[data-theme='light'] {
    --primary-color: #0d0c09; /* cor principal textos */
    --primary-bg-color: #f0f2f5;
    --secondary-bg-color: #c7c8c9;
    --primary-border-color: #c7c8c9;
    --secondary-border-color:#2d2d33;
    --title-color: #0b0b0f;
    --link-hover: #a3a2a2;
    --link-color: #0b0b0f;
    --icon-color: #56575a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

a {
    text-decoration: none;
    color: var(--link-color)
}

a:hover{
    color: var(--link-hover);
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row; /*coloca o conteúdo em linha e permite a quebra de linha*/
    justify-content: space-between; /*os itens dentro do container flexivel serão distribuidos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles*/
    width: 100%;
    align-items: center;
    padding: 0.5rem 1rem; /*primeiro valor: top e bottom. segundo valor: left e right.*/
    z-index: 2s; /*sobreposição*/
    background: var(--primary-bg-color);
}

body {
    background: var(--primary-bg-color); /*cor fundo*/
    color: var(--primary-color);  /*cor geral dos textos*/
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
}

.header-logo .logo {
    position: relative;
    width: 6.40rem;
    height: 1.50rem; 
    right: 10px;
}

html[data-theme='dark'] .logo {
    filter: invert(1); 
}


#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;
    float: right;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: .5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--link-hover);
}

.menu-icon, .menu-text {
    color: var(--link-color);
    font-weight: 600;
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header-nav {
    display: none;
}

.menu-principal {
    gap: 1rem;
}

/* MAIN */

.menu-social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--secondary-border-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out .3s;
}

.btn-primary {
    border: 1px solid var(--secondary-border-color);
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, .btn i {
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-primary span {
    color: var(--primary-color);
}

#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato{
    padding: 4.10rem 4.10rem;

}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-cover {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.card-cover3 {
    width: 28%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}
.card-title {
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 400;
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
}
.card-description {
    color: var(--primary-color);
    text-align: justify;
}
.card-lista {
    margin-left: 2rem;
}
.card-item {
    list-style: circle;
    margin: 0.25rem;
}
.card-button, .card-description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card-button .btn {
    padding: .65rem 1.25rem;
}
.card-button span {
    font-size: 1rem;
}
.projetos .btn {
    width: auto;
    height: auto;
}

.menu-item {
    font-size: 0.85rem;
    text-transform: uppercase;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre-content1, .sobre-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sobre-perfil {
    width: 100%;
    border-radius: 50rem;
    border: 8px solid var(--link-color);
}

.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    gap: 1.7rem;
}

.sobre-icones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.accordion-header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 1px solid var(--primary-border-color);
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.accordion-header span {
    color: var(--title-color);
}

.accordion-header.start {
    border-radius: 1rem 1rem 0rem 0rem;
}

.accordion-header.end,
.accordion-item.active .accordion-body.end {
    border-radius: 0rem 0rem 1rem 1rem;
}

.accordion-body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid var(--primary-border-color);
}

.accordion-item.active .accordion-header {
    background: var(--secondary-bg-color);
}

.accordion-item.active .accordion-body {
    display: flex;
}

/* ROTACIONAR ICONE */
.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: 3px solid var(--primary-border-color);
    border-bottom: 3px solid var(--secondary-border-color);
}

.contato p {
    text-align: center;
}

.contato .btn {
    width: auto;
}

.contato .email {
    text-transform: uppercase;
}

footer {
    margin-bottom: 5rem;
}

footer p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

/*--------------------------------------------------------*/


/* CSS RESPONSIVO*/
@media (min-width: 768px) {

    .header {
        position: fixed;
        border-bottom: 3px solid var(--primary-border-color);
        padding: 1rem 6rem;
    }

    .nav-mobile {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-nav, .header-toggle {
        min-width: 30%;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    #home, .projetos, .sobre, .contato {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contato {
        padding: 6rem;
    }

    .contato p {
        width: 80%;
    }

    footer {
        margin: 0;
    }
    
}

@media (min-width: 992px) {

    .projeto-card {
        flex-direction: row;
    }

    .card-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card-cover {
        width: 55%;
    }

    .sobre {
        gap: 5rem;
    }

    .sobre-content1, .sobre-content2 {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #home {
        padding: 10rem 6rem 2rem;
    }
    
    p, span, li {
        font-size: 1.15rem;
    }
    .card-button .btn,
    .descricao-button .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
}